### Java ###
*.class
*.log

### IntelliJ IDEA ###
.idea/
*.iml
out/

### Build tools ###
/target/
/build/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### JAR ###
*.jar
!gradle-wrapper.jar
